---
import { t } from '../../utils/i18n';
import Legal from '../layout/Legal.astro';

export interface Props {
  lang: string;
}

const { lang } = Astro.props;
const pageDescription = "Imprint of the website " + t('site.title', lang);
---

<Legal titleKey="imprint.title" description={pageDescription} lang={lang}>
  <h2>{t('imprint.disclaimer.title', lang)}</h2>

  <h3>{t('imprint.disclaimer.liabilityForContent.title', lang)}</h3>
  <p>{t('imprint.disclaimer.liabilityForContent.description', lang)}</p>
  <p>{t('imprint.disclaimer.liabilityForContent.removal', lang)}</p>

  <h3>{t('imprint.disclaimer.liabilityForLinks.title', lang)}</h3>
  <p>{t('imprint.disclaimer.liabilityForLinks.description', lang)}</p>
  <p>{t('imprint.disclaimer.liabilityForLinks.removal', lang)}</p>

  <h3>{t('imprint.disclaimer.copyright.title', lang)}</h3>
  <p>{t('imprint.disclaimer.copyright.description', lang)}</p>
  <p>{t('imprint.disclaimer.copyright.removal', lang)}</p>
</Legal>
